@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #0A58EF 0%, #0A255B 100%) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    position: absolute;
    margin-left: 20px;
    width: 90px;
    height: 90px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    list-style-type: none;
    padding: 20px;
    margin-left: 110px;
    width: 100%;
    height: 90px;
}

.menu a {
    color: white;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 5px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    width: 175px;
    text-transform: uppercase;
    transition-property: background-color;
    border-radius: 10px;
}

#border {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

a:hover {
    background-color: rgb(118, 205, 216,.5);
}

h1 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 76px;
    line-height: 96px;
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
}

.line-style {
    border: 5px solid white;
    margin-left: 50px;
    width: 68%;
}

#minilist {
    list-style-type: disc;
    margin: 75px;
}

#minilist a {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    text-decoration: none;
}

#minilist li {
    margin: 10px auto;
    line-height: 1.5;
    color: white;
}