body {
    background: linear-gradient(to bottom, #0A58EF 0%, #0A255B 100%) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-flipper {
    display: inline-block;
    height: 300px;
    width: 200px;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-front {
    color: white;
    font-size: xx-large;
}

.first {
    background: url(/doar.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
}

.second {
    background: url(/popimauto.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}

.third {
    background: url(/bituah-leumi.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}

.card-back {
    color: #008ACE;
    font-size: xx-large;
    background-color: white;
    transform: rotateY(180deg);
    height: 200px;
    width: 200px;
}

.card-flipper:hover {
    transform: rotateY(180deg);
}
